In [71]:
import csv
import pandas as pd
import random

In [72]:
#membaca file Mahasiswa
data = pd.read_csv("Mahasiswa.csv", sep = ';')
print(data)

     Id  Penghasilan  Pengeluaran
0     1        18.76         9.68
1     2         8.35         4.52
2     3        17.03        10.11
3     4         8.23         9.25
4     5        16.89         6.99
..  ...          ...          ...
95   96        17.31        10.00
96   97        18.85         9.78
97   98        14.52        10.32
98   99         9.83        10.64
99  100         7.84         3.44

[100 rows x 3 columns]

In [73]:
data.head()

   Id  Penghasilan  Pengeluaran
0   1        18.76         9.68
1   2         8.35         4.52
2   3        17.03        10.11
3   4         8.23         9.25
4   5        16.89         6.99

In [74]:
Penghasilan = ["Upper", "Middle", "Bottom"]
Pengeluaran = ["High", "Average", "Low"]
score = ["Accepted", "Considered", "Rejected"]

In [75]:
d = data.values
print(d)

[[  1.    18.76   9.68]
 [  2.     8.35   4.52]
 [  3.    17.03  10.11]
 [  4.     8.23   9.25]
 [  5.    16.89   6.99]
 [  6.    15.19   7.2 ]
 [  7.     9.03   9.35]
 [  8.    17.99   7.1 ]
 [  9.    17.09  10.54]
 [ 10.    18.43   7.74]
 [ 11.     5.78   6.66]
 [ 12.    14.29   8.06]
 [ 13.     5.55   6.35]
 [ 14.    13.06   8.82]
 [ 15.    17.69   8.17]
 [ 16.    12.39   9.78]
 [ 17.    16.6    9.78]
 [ 18.    15.57   9.68]
 [ 19.     9.96   4.48]
 [ 20.    19.62   8.28]
 [ 21.    15.29   9.89]
 [ 22.    18.71   9.46]
 [ 23.    14.42   8.49]
 [ 24.    19.27  10.21]
 [ 25.     6.48   7.85]
 [ 26.    14.     9.46]
 [ 27.    16.32   7.42]
 [ 28.    18.03   6.77]
 [ 29.    17.58  10.21]
 [ 30.    18.47   8.6 ]
 [ 31.    18.7    9.57]
 [ 32.    16.54   8.28]
 [ 33.     7.03  10.11]
 [ 34.    17.81   6.56]
 [ 35.    17.02   7.53]
 [ 36.    13.92   7.2 ]
 [ 37.    13.52   9.46]
 [ 38.     9.94  10.82]
 [ 39.     8.02   4.65]
 [ 40.    16.32   9.78]
 [ 41.     4.62   6.88]
 [ 42.    14.06  10.43]
 [ 43.    14.03  10.  ]
 [ 44.    17.37   9.68]
 [ 45.    16.97   9.46]
 [ 46.     9.58  10.04]
 [ 47.     9.63   9.78]
 [ 48.     9.02   3.76]
 [ 49.     9.52  10.93]
 [ 50.     9.31  11.29]
 [ 51.    15.77   7.42]
 [ 52.     9.1    9.57]
 [ 53.    14.75   7.31]
 [ 54.    16.22   8.06]
 [ 55.    16.29   9.14]
 [ 56.    13.81   9.25]
 [ 57.    17.87  10.  ]
 [ 58.    18.87  10.64]
 [ 59.     8.2    3.55]
 [ 60.     9.32   5.16]
 [ 61.     9.26   3.91]
 [ 62.    13.31  10.32]
 [ 63.     9.29   9.25]
 [ 64.    18.28  10.  ]
 [ 65.    13.11  10.32]
 [ 66.     9.63   9.78]
 [ 67.    13.67   7.1 ]
 [ 68.    14.34   8.92]
 [ 69.     9.86  10.43]
 [ 70.    17.68   7.63]
 [ 71.    14.97   7.74]
 [ 72.     9.71   4.81]
 [ 73.    15.76   8.06]
 [ 74.     8.52   3.98]
 [ 75.     5.09   7.53]
 [ 76.    12.17   7.2 ]
 [ 77.    16.52   8.71]
 [ 78.    15.95   7.53]
 [ 79.     8.52  10.32]
 [ 80.    15.92   7.31]
 [ 81.     9.18   9.46]
 [ 82.    17.58  10.54]
 [ 83.    17.88  10.64]
 [ 84.    14.86   8.6 ]
 [ 85.    14.93   8.28]
 [ 86.    14.7    8.6 ]
 [ 87.    18.19   7.63]
 [ 88.    16.08   7.85]
 [ 89.    15.44   8.28]
 [ 90.    19.69   8.06]
 [ 91.    15.58   7.31]
 [ 92.    19.23   8.17]
 [ 93.     9.47   4.84]
 [ 94.     9.07  10.21]
 [ 95.    16.9    7.42]
 [ 96.    17.31  10.  ]
 [ 97.    18.85   9.78]
 [ 98.    14.52  10.32]
 [ 99.     9.83  10.64]
 [100.     7.84   3.44]]

In [76]:
#MEMBERSHIP FUNCTION UNTUK PENGHASILAN

#batas = [5.0, 8.0, 12.0, 15.0]

#Penghasilan [BOTTOM]
def botIncome(i):
    if (i <= 5.0):
        return 1
    elif (i > 8.0):
        return 0
    elif ((i > 5.0) and (i <= 8.0)):
        return (8.0-i)/(8.0-5.0)

#Penghasilan [MIDDLE]
def midIncome(i):
    if ((i <= 5.0) or (i > 15.0)):
        return 0
    elif ((i > 8.0 and i <= 12.0)):
        return 1
    elif ((i > 5.0) and (i <= 8.0)):
        return (i-5.0)/(8.0-5.0)
    elif ((i > 12.0 and i <= 15.0)):
        return (15.0-i)/(15.0-12.0)

#Penghasilan [UPPER]
def upIncome(i):
    if (i > 15.0):
        return 1
    elif (i <= 12.0):
        return 0
    elif ((i > 12.0) and (i <= 15.0)):
        return (i-12.0)/(15.0-12.0)

In [77]:
#MEMBERSHIP FUNCTION UNTUK PENGELUARAN

#batas = [5.0, 7.0, 9.0, 10.0]

#Pengeluaran [LOW]
def lowExpense(e):
    if (e <= 5.0):
        return 1
    elif (e > 7.0):
        return 0
    elif ((e >= 5.1) and (e <= 7.0)):
        return (7.0 - e)/(7.0-5.0)

#Pengeluaran [AVERAGE]
def avgExpense(e):
    if ((e <= 5.0) or (e > 10.0)):
        return 0
    elif ((e > 7.0) and (e <= 9.0)):
        return 1
    elif ((e > 5.0) and (e <= 7.0)):
        return (e - 5.0)/(7.0-5.0)
    elif ((e > 9.0) and (e <= 10.0)):
        return (10.0 - e)/(10.0-9.0)

#Pengeluaran [HIGH]
def highExpense(e):
    if (e > 10.0):
        return 1
    elif (e <= 9.0):
        return 0
    elif ((e > 9.0) and (e <= 10.0)):
        return (e-10.0)/(10.0-9.0)

In [78]:
def scoreRules(penghasilan, pengeluaran):
    if ((penghasilan == "Upper") and (pengeluaran == "High")):
        scoreValue = "Rejected"
    elif ((penghasilan == "Upper") and (pengeluaran == "Average")):
        scoreValue = "Rejected"
    elif ((penghasilan == "Upper") and (pengeluaran == "Low")):
        scoreValue = "Considered"

    elif ((penghasilan == "Middle") and (pengeluaran == "High")):
        scoreValue = "Rejected"
    elif ((penghasilan == "Middle") and (pengeluaran == "Average")):
        scoreValue = "Considered"
    elif ((penghasilan == "Middle") and (pengeluaran == "Low")):
        scoreValue = "Accepted"

    elif ((penghasilan == "Bottom") and (pengeluaran == "High")):
        scoreValue = "Considered"
    elif ((penghasilan == "Bottom") and (pengeluaran == "Average")):
        scoreValue = "Accepted"
    elif ((penghasilan == "Bottom") and (pengeluaran == "Low")):
        scoreValue = "Accepted"

    return scoreValue

In [79]:
#Fuzzification Penghasilan

def fuzziIncome(value):
    up = upIncome(value)
    mid = midIncome(value)
    bot = botIncome(value)
    return up, mid, bot

In [80]:
#Fuzzification Pengeluaran

def fuzziExpense(value):
    hi = highExpense(value)
    avg = avgExpense(value)
    low = lowExpense(value)
    return hi, avg, low

In [81]:
#Inference Table
def InferenceTable(upper, mid, bottom, high, avg, low):
    
    tmpAcc = []
    tmpCons = []
    tmpRej = []
    
    tmpTable = [
        [upper, high], 
        [upper, avg], 
        [upper, low],
        [middle, high], 
        [middle, avg], 
        [middle, low], 
        [bottom, high], 
        [bottom, avg], 
        [bottom, low]
    ]
    
    tmpScore = 0
    
    for j in range(9):
        
        tmpScore = min(tmpTable[j][0], tmpTable[j][1])
        if (j == 5) or (j == 7) or (j == 8):
            tmpAcc.append(tmpScore)
        elif (j == 2) or (j == 4) or (j == 6):
            tmpCons.append(tmpScore)
        elif (j == 0) or (j == 1) or (j == 3):
            tmpRej.append(tmpScore)
    
    acc = max(tmpAcc)
    cons = max(tmpCons)
    rej = max(tmpRej)
    
    return acc, cons, rej

In [82]:
#Defuzzification

def defuzzification(accepted, considered, rejected):
    rej = 50
    cons = 75
    acc = 100
    
    return ((accepted*acc)+(considered*cons)+(rejected*rej))/(accepted + considered + rejected)

In [83]:
def writeFile(sortedData):

    f = open("Bantuan.csv", "a")
    d = str(sortedData)
    f.write(d + "\n")
    print()
    f.close()

In [84]:
#                 MAIN PROGRAM                #

person = []
chosen = []
personID = []

for i in range(len(data)):
    #FUZZIFICATION for PENGHASILAN
    upper, middle, bottom = fuzziIncome(d[i][1])
    #FUZZIFICATION for PENGELUARAN
    high, avg, low = fuzziExpense(d[i][2])
    #INFERENCE TABLE
    acc, cons, rej = InferenceTable(upper, middle, bottom, high, avg, low)
    #DEFUZZIFICATION
    result = defuzzification(acc, cons, rej)
    person.append({
        'id':i, 
        'hasil':result
    })

# SORTING 
srt = sorted(person, key=lambda x:x['hasil'],reverse=True)
print(srt)
for i in range(20):
    chosen.append(srt[i])
    writeFile(srt[i])

[{'id': 1, 'hasil': 100.0}, {'id': 18, 'hasil': 100.0}, {'id': 38, 'hasil': 100.0}, {'id': 40, 'hasil': 100.0}, {'id': 12, 'hasil': 94.6601941747573}, {'id': 10, 'hasil': 93.49999999999999}, {'id': 24, 'hasil': 87.66666666666666}, {'id': 3, 'hasil': 75.0}, {'id': 6, 'hasil': 75.0}, {'id': 13, 'hasil': 66.16666666666666}, {'id': 15, 'hasil': 65.71428571428572}, {'id': 36, 'hasil': 62.33333333333333}, {'id': 25, 'hasil': 59.54198473282444}, {'id': 32, 'hasil': 58.08333333333333}, {'id': 11, 'hasil': 55.91666666666668}, {'id': 22, 'hasil': 54.83333333333333}, {'id': 4, 'hasil': 50.125}, {'id': 28, 'hasil': 50.0}, {'id': 39, 'hasil': 50.0}, {'id': 42, 'hasil': nan}, {'id': 47, 'hasil': 100.0}, {'id': 46, 'hasil': 75.00000000000001}, {'id': 35, 'hasil': 59.0}, {'id': 33, 'hasil': 55.50000000000001}, {'id': 27, 'hasil': 52.875}, {'id': 0, 'hasil': 50.0}, {'id': 2, 'hasil': 50.0}, {'id': 5, 'hasil': 50.0}, {'id': 7, 'hasil': 50.0}, {'id': 8, 'hasil': 50.0}, {'id': 9, 'hasil': 50.0}, {'id': 14, 'hasil': 50.0}, {'id': 16, 'hasil': 50.0}, {'id': 17, 'hasil': 50.0}, {'id': 19, 'hasil': 50.0}, {'id': 20, 'hasil': 50.0}, {'id': 21, 'hasil': 50.0}, {'id': 23, 'hasil': 50.0}, {'id': 26, 'hasil': 50.0}, {'id': 29, 'hasil': 50.0}, {'id': 30, 'hasil': 50.0}, {'id': 31, 'hasil': 50.0}, {'id': 34, 'hasil': 50.0}, {'id': 37, 'hasil': 50.0}, {'id': 41, 'hasil': 50.0}, {'id': 43, 'hasil': 50.0}, {'id': 44, 'hasil': 50.0}, {'id': 45, 'hasil': 50.0}, {'id': 48, 'hasil': 50.0}, {'id': 49, 'hasil': 50.0}, {'id': 56, 'hasil': nan}, {'id': 58, 'hasil': 100.0}, {'id': 60, 'hasil': 100.0}, {'id': 63, 'hasil': nan}, {'id': 71, 'hasil': 100.0}, {'id': 73, 'hasil': 100.0}, {'id': 92, 'hasil': 100.0}, {'id': 74, 'hasil': 99.25000000000001}, {'id': 59, 'hasil': 98.0}, {'id': 65, 'hasil': 75.00000000000001}, {'id': 51, 'hasil': 75.0}, {'id': 62, 'hasil': 75.0}, {'id': 80, 'hasil': 75.0}, {'id': 75, 'hasil': 73.58333333333333}, {'id': 66, 'hasil': 61.08333333333333}, {'id': 67, 'hasil': 55.5}, {'id': 76, 'hasil': 50.0}, {'id': 86, 'hasil': 50.0}, {'id': 88, 'hasil': 50.0}, {'id': 90, 'hasil': 50.0}, {'id': 94, 'hasil': 50.0}, {'id': 95, 'hasil': nan}, {'id': 99, 'hasil': 100.0}, {'id': 55, 'hasil': 59.91666666666666}, {'id': 85, 'hasil': 52.500000000000014}, {'id': 52, 'hasil': 52.08333333333333}, {'id': 83, 'hasil': 51.16666666666667}, {'id': 84, 'hasil': 50.583333333333336}, {'id': 70, 'hasil': 50.25}, {'id': 50, 'hasil': 50.0}, {'id': 53, 'hasil': 50.0}, {'id': 54, 'hasil': 50.0}, {'id': 57, 'hasil': 50.0}, {'id': 61, 'hasil': 50.0}, {'id': 64, 'hasil': 50.0}, {'id': 68, 'hasil': 50.0}, {'id': 69, 'hasil': 50.0}, {'id': 72, 'hasil': 50.0}, {'id': 77, 'hasil': 50.0}, {'id': 78, 'hasil': 50.0}, {'id': 79, 'hasil': 50.0}, {'id': 81, 'hasil': 50.0}, {'id': 82, 'hasil': 50.0}, {'id': 87, 'hasil': 50.0}, {'id': 89, 'hasil': 50.0}, {'id': 91, 'hasil': 50.0}, {'id': 93, 'hasil': 50.0}, {'id': 96, 'hasil': 50.0}, {'id': 97, 'hasil': 50.0}, {'id': 98, 'hasil': 50.0}]